appnope==0.1.0
beautifulsoup4==4.5.3
bleach==1.5.0
certifi==2018.4.16
cycler==0.10.0
decorator==4.0.10
entrypoints==0.2.3
enum34==1.1.6
get==0.0.0
html5lib==0.9999999
ipykernel==4.6.1
ipython==5.1.0
ipython-genutils==0.1.0
ipywidgets==7.0.4
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.1.0
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.1.2
Lasagne==0.1
lxml==3.7.2
Markdown==2.6.10
MarkupSafe==1.0
matplotlib==1.5.3
minepy==1.2.2
mistune==0.8.1
nbconvert==5.3.1
nbformat==4.4.0
nltk==3.2.5
nose==1.3.7
notebook==5.2.1
numpy==1.13.3
pandas==0.19.2
pandocfilters==1.4.2
patsy==0.5.1
pexpect==4.2.1
pickleshare==0.7.4
post==0.0.0
prompt-toolkit==1.0.9
protobuf==3.5.0.post1
ptyprocess==0.5.1
public==0.0.0
pycpfcnpj==1.0.2
Pygments==2.1.3
pyparsing==2.1.10
python-dateutil==2.6.0
pytz==2016.10
PyYAML==3.12
pyzmq==16.0.3
qtconsole==4.3.1
query-string==0.0.0
request==0.0.0
scikit-learn==0.18.1
scikit-neuralnetwork==0.7
scipy==0.18.1
seaborn==0.8.1
selenium==3.0.2
setupfiles==0.0.50
simplegeneric==0.8.1
six==1.11.0
sklearn==0.0
statsmodels==0.9.0
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0rc3
terminado==0.6
testpath==0.3.1
Theano==0.8.2
tornado==4.5.2
traitlets==4.3.1
wcwidth==0.1.7
webencodings==0.5.1
Werkzeug==0.13
widgetsnbextension==3.0.7
